* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333;
}

header {
  text-align: center;
  background-color: lightgrey;
  height: 160px;
  padding: 20px;
  margin-bottom: 80px;
}
header h1,
header h2,
header h3 {
  margin: 10px;
}

main {
  height: 400px;
  text-align: center;
}
main p {
  margin: 50px;
  color: #333;
}
main #translate {
  color: blue;
  padding: 5px;
  margin: 20px;
}
main input {
  width: 250px;
  margin-bottom: 20px;
}
main output {
  margin-top: 20px;
}