* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333;
}

header {
  text-align: center;
  background-color: lightgrey;
  height: 160px;
  padding: 20px;
  margin-bottom: 80px;

  h1,
  h2,
  h3 {
    margin: 10px;
  }

}

main {
  height: 400px;
  text-align: center;

  p {
  margin: 50px;
  color: #333;
}

#translate {
  color: blue;
  padding: 5px;
  margin: 20px;
}

input {
  width: 250px;
  margin-bottom: 20px;
}

output {
  margin-top: 20px;
}
}

